@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* slide */
#slide {
 display: none;
  
}

#slide img {
 display: none;
}

/* .plataform-slide {
    height: 400px;
    width: 500px;
    margin-left: 0px;
}

#slide-platform{
    width: 450px; 
    overflow: hidden;
    height: 300px;
    
    box-shadow: 0 0 8px #000;
    position: relative;
    
    
}

#slide-platform img {
    position: absolute;
    width: 450px;
    height: 300px;
    
    
} */

/* Platform */
 .platform-web {
    background:#393939;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    
  }



.image-mobile{
  width: 250px;
  margin-bottom: 64px;
}

.container-platform {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px 0 10px;
  
}

.container-platform ul {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.container-platform ul li {
  max-width: 300px;
  text-align: center;
  margin: 0 15px 0 16px;
  height: 230px;
}

.container-platform ul li h4 {
  font-weight: bold;
}

.container-platform h4::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #E28D17;
  margin: 14px auto 10px auto;
}

.container-platform ul li p {
  margin-top: 16px;
  margin-bottom: 64px;
}

.icons img {
  width: 70px;
  margin: 0 auto 16px auto;
  background: #E28D17;
  padding: 10px;
  border-radius: 50%;
}

/* video */

.video {
  height: 450px;
}

.video video {
  width: 710px;
  height: 400px;
  box-shadow: 0 0 8px #000;
}
  
 

  .buttons-platform {
    margin-bottom: 40px;
    padding-left: 27px;
    
  }
  
  .buttons-platform a {
    font-size: 1.125em;
    color: #E28D17;
    font-weight: bold;
    margin-right: 32px;
  }
  
  .buttons-platform a:hover {
    color: #C2570F;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in; 
    -moz-transition: 0.3s ease-in; 
    -o-transition: 0.3s ease-in; 
  } 

  /* Title */
.title-platform {
    padding: 20px 0 30px 0;
    font-size : 1.5em;
    text-align: center;
  }
  
  .title-platform::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #E28D17;
    margin: 14px auto 10px auto;
  }

  /* Footer */
.footer {
  width: 100%;
  background: #393939;
  color:#FFFFFF;
  padding-top: 20px;
}

.footer h3 {
  font-size: 1.125em;
  color: #E28D17;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #E28D17;
  margin: 8px 0 16px 0;
}

.footer-storie {
  width: 400px;
}

.footer .container {
  justify-content: space-between;
}

.footer-contact ul li {
  font-size: 0.875em;
  line-height: 20px;
}

.footer-social ul li {
  display: inline-block;
  }

.footer-social ul li i {
  color: #FFFFFF;
  margin-right: 10px;
}

.footer-social ul li i:hover {
  color: #E28D17;
  margin-right: 10px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in; 
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in; 
}

/* Responsiveness*/
@media only screen and (min-width: 740px) and (max-width: 979px) {
  /* Container Tablet */
  .container, .services h3, .services ul, .benefits h3, .benefits ul, .about, .contact {
    max-width: 740px;
  }

  /* Introduction Tablet */
  #slide {
   display: none;
   }
 
   .image-mobile {
     display: none;
   }
 

  /* Footer Tablet */
  .footer-storie {
    width: 350px;
  }
}

@media only screen and (max-width: 739px) {
  /* Container Mobile */
  .container {
		flex-direction: column;
		max-width: 300px;
  }

  #slide {
    display: none;
    }
  
    .image-mobile {
      display: none;
    }

    .video {
      display: none;
    }
  

  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .buttons-platform {
    text-align: center;
    
  }

  /* Menu Mobile */
	#menu-mobile {
    display: block;
  }

  /*Footer Mobile */
  .footer {
    text-align: center;
  }

  .footer h3 {
    margin: 20px 0 16px 0;
  }

  .footer h3::after {
  margin: 8px auto 16px auto;
  }
  
  .footer-storie {
    width: 300px;
    text-align: center;
  }
}
